body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-clr);
  user-select: none;

}
p {
  margin: 0;
}
* {
  --bg-color: rgba(234, 223, 223,40%);
  --font-clr: rgb(21, 52, 77);
}
.container {
  display: flex;
}
.imgdiv {
  flex: 2;
  background-image: url(./img/Citie.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.imgdiv .intro {
  background-color: var(--bg-color);
  width: 100%;
  text-align: center;
}
.hero{
  flex: 3;
}
label {
  font-size: 1.5rem;
  display: block;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 40%;
  border: 1px solid rgb(188, 184, 184);
  border-radius: 10px;
  background-color: rgb(248, 248, 249);
  transition: all 0.5s ease-in-out;
}
form:hover{
  box-shadow: 0 0 50px rgb(124, 206, 233);
}
.formElementDiv {
  margin: 2em;
}
.info {
  padding: 1em;
  height: 30vh;
  line-height: 2rem;
}
span:hover {
  text-shadow: 1px 1px 3px rgb(49, 112, 221);
}
.pwd {
  padding: 0;
  margin-top: 5px;
  font-size: 0.7rem;
}
label {
  margin-bottom: 10px;
}
input {
  width: 250px;
  height: 30px;
  border: 1px solid lightblue;
}
input:focus {
  outline: 2px solid var(--font-clr);
  box-shadow: 0px 0px 20px rgb(159, 158, 158) ;
  border: none;
}

input:valid {
  outline: 2px solid rgb(152, 214, 152);
  border: none;
}

input:invalid {
  outline: 2px solid rgb(249, 95, 95);
  border: none;
}


button {
 height: 30px;
 margin-top: 4px;
 background-color: ghostwhite;
 border: none;
 color: var(--font-clr);
 font-size: 1em;
 border-radius: 10px;
}
button:hover {
  color: rgb(164, 170, 170);
}

